@import '../../styles/mixin.scss';

.breadcrumb-container {
  .ant-breadcrumb {
    font-size: 16px;
    float: left;
    color: rgba(0, 0, 0, 0.65);
    padding-left: 0;
    margin-left: -50px;
    line-height: unset;
  
  }
  .ant-breadcrumb a {
    color: rgba(0, 0, 0, 0.65);
    &:hover {
      color: $color-blue
    }
  }
  .ant-breadcrumb > span:last-child {
    color: rgba(0, 0, 0, 0.65);
    font-weight: normal;
  }
  .ant-breadcrumb-separator {
    color: rgba(0, 0, 0, 0.65);
    font-weight: normal;
  }
}
