@import '../../styles/mixin.scss';

.nav-tooltip {
  color: red;
}

.user-menu.ant-menu {
  .ant-menu-item-selected {
    background-color: rgba(92, 103, 242, 0.1);
    color: #5c67f2;
    a {
      color: #5c67f2;
    }
  }
  .ant-menu-item:hover {
    color: #5c67f2;
    a {
      color: #5c67f2;
    }
  }
}

/* .header-box.css */
.header-box {
  height: .64rem;
  line-height: .64rem;
  padding: 0;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
  position: relative;
  z-index: 10;
  
  .logo {
    position: relative;
    float: left;
    line-height: .64rem;
    height: .64rem;
    width: 240px; /* Increased width for better spacing */
    background-color: transparent;
    transition: all .2s;
    padding-left: 24px;
    
    .href {
      text-decoration: none;
      display: block;
      height: 100%;
      display: flex;
      align-items: center;
    }
    .logo-name {
      color: #5c67f2;
      font-size: .24rem;
      font-weight: 600;
      margin-left: .1rem;
      letter-spacing: 1px;
    }
    .img {
      position: relative;
      left: auto;
      top: auto;
      transform: none;
      width: 32px;
      height: 32px;
    }
    .ui-badge {
      position: absolute;
      right: 40px;
      top: 10px;
      width: 30px;
      height: 21px;
      background-size: 236px 21px;
      background-repeat: no-repeat;
      background-image: none;
    }
  }

  .nav-toolbar {
    font-size: .15rem;
    float: left;
  }
  .user-menu{
    margin-top: 24px;
  }
  .user-toolbar{
    float: right;
    height: .64rem;
    display: flex;
    align-items: center;
    padding-right: 24px;

    .item-search {
      width: 2rem;
    }
    .toolbar-li{
      float: left;
      font-size: .14rem;
      cursor: pointer;
      color: #606266;
      margin-left: .24rem;
      transition: color .2s;
      & a {
        color: #606266;
      }
      .dropdown-link {
        color: #606266;
        transition: color .2s;
        
        .avatar-image{
          margin-bottom: -10px;
          display: inline-block;
          text-align: center;
          background: #e4e7ed;
          color: #fff;
          white-space: nowrap;
          position: relative;
          overflow: hidden;
          width: 32px;
          height: 32px;
          line-height: 0;
          border-radius: 50%;
        }

        .avatar-image > img{
          height: 100%;
          width:100%;
          object-fit: cover;
          display: block;
        }

      }
      .anticon.active {
        color: #5c67f2;
      }
      &:hover{
        color: #5c67f2;
        .dropdown-link {
          color: #5c67f2;
        }
        & a {
            color: #5c67f2;
        }
      }
      .name {
        margin-left: .08rem;
      }
    }
  }
}
