.ant-tabs-bar {
  border-bottom: 1px solid transparent;
  margin-bottom: 0;
}


.m-panel{
  background-color: #fff;
  padding: 24px;
  min-height: 4.68rem;
  margin-top: 0;
  border-radius: 8px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
}

.project-list{
  .project-list-header{
    background: #f5f7fa;
    height: 64px;
    line-height: 40px;
    border-radius: 8px;
    text-align: right;
    padding: 0 16px;
    font-weight: bold;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    color: #1f2d3d;
    font-weight: 500;
  }
  .owner-type{
    // padding: 10px;
    font-size: 16px;
    // background-color: #eee;
    // border-radius: 4px;
    // margin-bottom: 15px;
    font-weight: 600;
    margin-bottom: 0.16rem;
    border-left: 4px solid #5c67f2;
    padding-left: 12px;
    color: #1f2d3d;
  }
}



.ant-input-group-wrapper {
  width: 100%;
}

.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #909399;
  transition: all .3s;
}
.dynamic-delete-button:hover {
  color: #5c67f2;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
