@import '../../../styles/mixin.scss';

.left-menu {
  min-height: 5rem;
  background: #fff;
  border-right: 1px solid #ebeef5;
  
  .ant-tag {
    margin-right: 0.16rem;
  }
  .ant-tabs-nav {
    width: 100%;
    background-color: #f5f7fa;
  }
  .ant-tabs-tab {
    min-width: 49.4%;
  }
  .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    height: 39px;
    background: #f5f7fa;
    border-bottom: 0;
    border-radius: 0;
    margin-right: 0;
    border: none;
  }
  .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab:nth-of-type(2) {
    border-left: 0;
  }
  
  .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    height: 40px;
    background-color: #fff;
    color: #5c67f2;
    font-weight: 600;
    border-top: 2px solid #5c67f2;
  }

  .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-nav-container {
    height: 40px;
  }

  .ant-tabs.ant-tabs-card > .ant-tabs-bar {
    text-align: center;
    border-bottom: 1px solid #ebeef5;
  }

  .ant-tabs-nav-wrap {
    height: 40px;
    line-height: 31px;
  }
  .ant-input {
    width: 100%;
    border-radius: 4px;
  }
  .interface-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #fff;
    border-bottom: 1px solid #ebeef5;
    
    .ant-input {
      flex: 1;
      margin-right: 12px;
    }
  }
  .btn-filter {
    flex-shrink: 0;
    padding: 0 16px;
  }
  .ant-tree li .ant-tree-node-content-wrapper {
    width: calc(100% - 28px);
    position: relative;
    padding: 4px 0;
    &:hover {
        background-color: #f5f7fa;
        a {
          color: #5c67f2;
        }
    }
    .container-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .btns {
      background-color: #f5f7fa;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-60%);
      transition: all 0.2s;
    }
  }
  .ant-tree li .ant-tree-node-selected {
    .btns {
      background-color: #eff0ff;
      transition: all 0.2s;
    }
  }
  .ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
      background-color: #eff0ff;
      color: #5c67f2;
  }

  .interface-delete-icon {
    position: relative;
    right: 0;
    float: right;
    line-height: 25px;
    width: 24px;
    font-weight: bold;
  }
  .anticon-ellipsis {
    transform: rotate(90deg);
  }
  .interface-delete-icon:hover {
    color: #5c67f2;
  }

  .interface-list {
    //max-height: 600px;
    //overflow-y: scroll;
    .cat_switch_hidden {
      .ant-tree-switcher {
        visibility: hidden;
      }
    }

    a {
      color: #606266;
      &:hover {
          color: #5c67f2;
      }
    }

    .btn-http {
      height: 23px;
      font-size: 10px;
      margin-right: 7px;
      padding: 0 5px;
      width: auto !important;
      border-radius: 4px;
    }
    .interface-item {
      display: inline-block;
      overflow: hidden;
      top: 0px;
    }
    .interface-item-nav {
      line-height: 25px;
    }
    .interface-list {
      .cat_switch_hidden {
        .ant-tree-switcher {
          visibility: hidden;
        }
      }

      .btn-http {
        height: 23px;
        font-size: 10px;
        margin-right: 7px;
        padding: 0 5px;
        width: auto !important;
      }
      .interface-item {
        display: inline-block;
        overflow: hidden;
        top: 0px;
        line-height: 100%;
        text-decoration: none;
      }
      .interface-item-nav {
        line-height: 25px;
      }
    }
  }
}

.right-content {
  min-height: 5rem;
  background: #fff;
  padding: 24px;
  .caseContainer {
    table {
      border-radius: 4px;
      // border-collapse: collapse;
    }
    .ant-table-small .ant-table-thead > tr > th {
      text-align: left;
      background-color: #f5f7fa;
    }
    tr:nth-child(even) {
      background: #f5f7fa;
    }
  }
  .interface-content {
    .ant-tabs-nav {
      width: 100%;
      // background-color: #ddd;
      // color: $color-white;
    }
    .ant-tabs-nav-wrap {
      text-align: left;
    }
  }
  .interface-title {
    clear: both;
    font-weight: 600;
    margin-top: 0.48rem;
    margin-bottom: 0.16rem;
    border-left: 4px solid #5c67f2;
    padding-left: 12px;
    font-size: 16px;
    color: #1f2d3d;
    .tooltip {
      font-size: 13px;
      font-weight: normal;
      color: #909399;
      margin-left: 8px;
    }
  }
  .container-radiogroup {
    text-align: center;
    margin-bottom: 0.16rem;
  }
  .panel-sub {
    background: #f5f7fa;
    padding: 0.1rem;
    border-radius: 4px;
    .bulk-import {
      color: #5c67f2;
      text-align: right;
      margin-right: 16px;
      cursor: pointer;
    }
  }
  .ant-radio-button-wrapper-checked {
    color: #fff;
    background-color: #5c67f2;
    border-color: #5c67f2;
    box-shadow: -1px 0 0 0 #5c67f2;
    &:hover {
      color: #fff;
    }
  }
  .href {
    color: #5c67f2;
    cursor: pointer;
  }
  .remark-editor {
    background-color: #fff;
  }
  .remark {
    table {
      border-collapse: collapse;
    }
    th {
      text-align: left;
      font-weight: 600;
      background-color: #f5f7fa;
      text-indent: 0.4em;
      color: #1f2d3d;
    }
    tr {
      text-indent: 0.4em;
    }
    th,
    td {
      border: 1px solid #ebeef5;
    }
    tr:nth-child(odd) {
      background: #f5f7fa;
    }
    tr:nth-child(even) {
      background: #fff;
    }
  }
}
.addcatmodal {
  .ant-modal-body {
    padding: 10px 0px;
    .ant-form-item {
      margin-bottom: 10px;
    }
    .catModalfoot {
      border-top: 1px solid #ebeef5;
      margin-bottom: 0px;
      padding-top: 10px;
      margin-top: 0px;
      .ant-form-item-control-wrapper {
        margin-left: 0px;
      }
      .ant-form-item-control {
        float: right;
        margin-right: 10px;
      }
    }
  }
}

.common-setting-modal{
  
  .setting-item{
    margin: 10px;
    line-height: 35px;
    .col-item{
      padding:5px;
    }
  }

  .case-script{
    min-height: 200px;
    margin: 10px;
    width: 98%;
  }

  .insert-code{
    padding-top: 45px;
  }
}